<%- include('../partials/header') %>
  <%- include('../partials/nav-driver') %>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64 w3-center" id="about" style="height: 500px; margin-top: 50px;">
  <h3 class="w3-center">YOUR ORDER IS EMPTY OR CUSTOMER GOT ANOTHER DRIVER</h3>
  <p class="w3-center"><em>Please wait to get your next order</em></p>

  <img src="https://www.genericsmed.com/wp-content/uploads/2018/03/Mengisi-alamat-tujuan-dan-menunggu-barang-sampai.jpg" style="width: 300px;">
  
    
</div>



<%- include('../partials/footer') %>